<h4 class='main-head'>{{me.name}}'s events by organization</h4>

<select class='main-head'>
  <option value="yale">Yale</option>
</select>

<table class='table table-striped'>
  <thead>
    <th>Name</th>
    <th>Organization</th>
    <th>Room</th>
    <th>Start</th>
    <th>End</th>
  </thead>
  <!--
  <tbody id='eventContainer'>
    <tr ng-repeat="e in events">
      <td>{{e.name}}</td>
      <td>{{e.organization_name}}</td>
      <td>{{e.room_name}} {{e.room_number}}</td>
      <td>{{formatTimeLong(e.start_time)}}</td>
      <td>{{formatTimeLong(e.end_time)}}</td>
    </tr>
  </tbody>
-->
  <tbody>
    <tr>
      <td>Naked Party!</td>
      <td>Yale</td>
      <td>AKW 100</td>
      <td>Sunday, February 24th 2013, 11:21:20 am</td>
      <td>"Sunday, February 24th 2013, 3:21:20 pm"</td>
    </tr>
    <tr>
      <td>Slumber Party!</td>
      <td>Yale</td>
      <td>BASSLB L70</td>
      <td>Sunday, February 24th 2013, 7:21:20 am</td>
      <td>Sunday, February 24th 2013, 11:21:20 pm</td>
    </tr>
    <tr>
      <td>Dance Party!</td>
      <td>Yale</td>
      <td>AKW 100</td>
      <td>Sunday, February 24th 2013, 4:21:20 pm</td>
      <td>Sunday, February 24th 2013, 9:21:20 pm</td>
    </tr>
  </tbody>
</table>



