<h4 class='main-head'>Yale Reserve: Here so you can leave here and get where you need to be, as soon as possible.</h4>

<select name="rooms" class="chzn-select" data-placeholder="Choose a room!">
  <option value='AKW-100'>AKW 100</option>
  <option value='BASSLB-L70'>BASSLB L70</option>
  <option value='BASSLB-L73'>BASSLB L73</option>
  <option value='BCT-CO31'>BCT CO31</option>
  <option value='BM-013'>BM 013</option>
  <option value='BM-014'>BM 014</option>
  <option value='DAVIES-AUD'>DAVIES AUD</option>
  <option value='DL-102'>DL 102</option>
  <option value='DL-220'>DL 220</option>
  <option value='GR109-ROSENFELD'>GR109 ROSENFELD</option>
  <option value='HGS-217A'>HGS 217A</option>
  <option value='HGS-217B'>HGS 217B</option>
  <option value='HGS-220B'>HGS 220B</option>
  <option value='HGS-221'>HGS 221</option>
  <option value='HGS-301'>HGS 301</option>
  <option value='HGS-302'>HGS 302</option>
  <option value='HGS-B-05'>HGS B-05</option>
  <option value='HGS-B-07'>HGS B-07</option>
  <option value='HGS-B-08'>HGS B-08</option>
  <option value='HGS-B-09'>HGS B-09</option>
  <option value='HGS-B-11'>HGS B-11</option>
  <option value='LC-101'>LC 101</option>
  <option value='LC-102'>LC 102</option>
  <option value='LC-103'>LC 103</option>
  <option value='LC-104'>LC 104</option>
  <option value='LC-105'>LC 105</option>
  <option value='LC-203'>LC 203</option>
  <option value='LC-204'>LC 204</option>
  <option value='LC-205'>LC 205</option>
  <option value='LC-206'>LC 206</option>
  <option value='LC-207'>LC 207</option>
  <option value='LC-208'>LC 208</option>
  <option value='LC-209'>LC 209</option>
  <option value='LC-210'>LC 210</option>
  <option value='LC-211'>LC 211</option>
  <option value='LC-212'>LC 212</option>
  <option value='LC-213'>LC 213</option>
  <option value='LC-317'>LC 317</option>
  <option value='LC-318'>LC 318</option>
  <option value='ML-104'>ML 104</option>
  <option value='ML-211'>ML 211</option>
  <option value='PH-310'>PH 310</option>
  <option value='PH-312'>PH 312</option>
  <option value='PH-407'>PH 407</option>
  <option value='PR140-102A'>PR140 102A</option>
  <option value='PR204-B-02'>PR204 B-02</option>
  <option value='PR204-B-03'>PR204 B-03</option>
  <option value='PR238-03'>PR238 03</option>
  <option value='RKZ-01'>RKZ 01</option>
  <option value='RKZ-02'>RKZ 02</option>
  <option value='RKZ-04'>RKZ 04</option>
  <option value='RKZ-05'>RKZ 05</option>
  <option value='RKZ-06'>RKZ 06</option>
  <option value='RKZ-08'>RKZ 08</option>
  <option value='RKZ-102'>RKZ 102</option>
  <option value='RKZ-202'>RKZ 202</option>
  <option value='RKZ-301'>RKZ 301</option>
  <option value='SSS-114'>SSS 114</option>
  <option value='WALL81-101'>WALL81 101</option>
  <option value='WALL81-301'>WALL81 301</option>
  <option value='WALL81-401'>WALL81 401</option>
  <option value='WHC-B-02'>WHC B-02</option>
  <option value='WHC-B-03'>WHC B-03</option>
  <option value='WLH-001'>WLH 001</option>
  <option value='WLH-002'>WLH 002</option>
  <option value='WLH-003'>WLH 003</option>
  <option value='WLH-004'>WLH 004</option>
  <option value='WLH-006'>WLH 006</option>
  <option value='WLH-007'>WLH 007</option>
  <option value='WLH-009'>WLH 009</option>
  <option value='WLH-011'>WLH 011</option>
  <option value='WLH-012'>WLH 012</option>
  <option value='WLH-013'>WLH 013</option>
  <option value='WLH-014'>WLH 014</option>
  <option value='WLH-015'>WLH 015</option>
  <option value='WLH-112'>WLH 112</option>
  <option value='WLH-113'>WLH 113</option>
  <option value='WLH-114'>WLH 114</option>
  <option value='WLH-115'>WLH 115</option>
  <option value='WLH-116'>WLH 116</option>
  <option value='WLH-117'>WLH 117</option>
  <option value='WLH-119'>WLH 119</option>
  <option value='WLH-120'>WLH 120</option>
  <option value='WLH-202'>WLH 202</option>
  <option value='WLH-203'>WLH 203</option>
  <option value='WLH-204'>WLH 204</option>
  <option value='WLH-205'>WLH 205</option>
  <option value='WLH-207'>WLH 207</option>
  <option value='WLH-208'>WLH 208</option>
  <option value='WLH-209'>WLH 209</option>
  <option value='WLH-210'>WLH 210</option>
  <option value='WLH-211'>WLH 211</option>
  <option value='YK212-004'>YK212 004</option>
  <option value='YK212-004A'>YK212 004A</option>
  <option value='YK212-106'>YK212 106</option>
  <option value='YK220-001'>YK220 001</option>
  <option value='YK220-002'>YK220 002</option>
  <option value='YK220-003'>YK220 003</option>
  <option value='YK220-004'>YK220 004</option>
  <option value='YK220-100'>YK220 100</option>
</select>

<table class="rooms-table">
  <thead>
    <tr>
      <td class="outer">Room</td>
      <td class="outer">
        <table class='rooms-inner-table'>
        <tr>
          <td class="hour">12a.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
          <td class="hour">3a.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
          <td class="hour">6a.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
          <td class="hour">9a.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
          <td class="hour">12p.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
          <td class="hour">3p.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
          <td class="hour">6p.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
          <td class="hour">9p.m.</td>
          <td class="hour"></td>
          <td class="hour"></td>
        </tr>
      </table>
      </td>
    </tr>
  </thead>
  <tbody ng-repeat="room in rooms">
    <td class="outer">{{room.name}} {{room.number}}</td>
    <td class="outer">
      <div class="events" ng-repeat="event in room.events">
        <div class="event" ng-style="eventStyle(event.start_time, event.end_time)" ng-click="modal(event)">{{event.name}}</div>
      </div>
      <table class='rooms-inner-table'>
        <tr>
          <td class="hour" ng-click="newEvent(room, 0)"></td>
          <td class="hour" ng-click="newEvent(room, 1)"></td>
          <td class="hour" ng-click="newEvent(room, 2)"></td>
          <td class="hour" ng-click="newEvent(room, 3)"></td>
          <td class="hour" ng-click="newEvent(room, 4)"></td>
          <td class="hour" ng-click="newEvent(room, 5)"></td>
          <td class="hour" ng-click="newEvent(room, 6)"></td>
          <td class="hour" ng-click="newEvent(room, 7)"></td>
          <td class="hour" ng-click="newEvent(room, 8)"></td>
          <td class="hour" ng-click="newEvent(room, 9)"></td>
          <td class="hour" ng-click="newEvent(room, 10)"></td>
          <td class="hour" ng-click="newEvent(room, 11)"></td>
          <td class="hour" ng-click="newEvent(room, 12)"></td>
          <td class="hour" ng-click="newEvent(room, 13)"></td>
          <td class="hour" ng-click="newEvent(room, 14)"></td>
          <td class="hour" ng-click="newEvent(room, 15)"></td>
          <td class="hour" ng-click="newEvent(room, 16)"></td>
          <td class="hour" ng-click="newEvent(room, 17)"></td>
          <td class="hour" ng-click="newEvent(room, 18)"></td>
          <td class="hour" ng-click="newEvent(room, 19)"></td>
          <td class="hour" ng-click="newEvent(room, 20)"></td>
          <td class="hour" ng-click="newEvent(room, 21)"></td>
          <td class="hour" ng-click="newEvent(room, 22)"></td>
          <td class="hour" ng-click="newEvent(room, 23)"></td>
        </tr>
      </table>
    </td>
  </tbody>
</table>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>